build/*
debian/build/*
debian/com.github.robertsanseries.template-for-vala-apps.debhelper.log
debian/com.github.robertsanseries.template-for-vala-apps.substvars
debian/com.github.robertsanseries.template-for-vala-apps/
debian/debhelper-build-stamp
debian/files