Source: oi.github.alvane
Section: x11
Priority: extra
Maintainer: Name <email@email.com>
Build-Depends: meson (>= 0.40),
               valac (>= 0.26),
               debhelper (>= 9),
               libgranite-dev (>= 0.3.0),
               libgtk-3-dev
Standards-Version: 3.9.3

Package: oi.github.alvane
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: App vala
